body {
  font-family: 'Fredoka', sans-serif;
}
:root {
  --swiper-theme-color: #262C5D;
}

.faq-answer {
  display: none;
}

#top-info-bar {
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 6rem; /* Default height (start larger) */
  top: calc(var(--info-banner-height, 0px)); /*DAS HIER NUR WENN BANNER DA IST*/
}

#owner {
  top: calc(-1 * var(--info-banner-height));    /*DAS HIER NUR WENN BANNER DA IST*/
}

#top-info-bar.scrolled {
  height: 4.5rem; /* Shrink height on scroll (a bit larger now) */
}

#top-logo {
  transition: width 0.3s ease-in-out;
  width: 16rem; /* Larger default logo size */
}

#top-info-bar.scrolled #top-logo {
  width: 12rem; /* Adjusted smaller logo size when scrolling */
}

#menu-toggle {
  font-size: 2rem; /* Larger burger menu icon */
}

#mobile-menu {
  font-size: 1.25rem; /* Increase font size of menu items */
}

#mobile-menu a {
  padding: 1rem 0; /* Larger padding for better spacing */
}

/* Add smooth transition for the height change */
#top-info-bar {
  transition: height 0.3s ease, padding 0.3s ease; /* Transition for smooth resizing */
}

#top-info-bar.scrolled {
  height: 60px; /* Adjust to the smaller size you want */
  padding: 10px 0; /* Adjust padding for smaller version */
}

.hover-overline-animation {
  display: inline-block;
  position: relative;
}

.hover-overline-animation::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0; /* Statt bottom setzen wir es nach oben */
  left: 0;
  background-color: #ffffff;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}

.hover-overline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: top left;
}

.hover-underline-animation-dark {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-dark::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0; /* Statt bottom setzen wir es nach oben */
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-dark:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
